<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      GeoLocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Geo-Location</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-content">
      <button type="button" (click) = "getLocation()">Activer Loc</button>

  </div>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
